.day-view {
  width: 100%;
  margin-bottom: 50px;
}


.day-view .bar-chart {
  height: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(24, 1fr);
  
}


.day-view .bar-chart .bar {
  width: 100%;
  background: rgb(21, 161, 255);
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: white;
  padding-top: 3px;
  font-weight: 600;
}


.day-view .bar-chart-hours {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(24, 1fr);
  margin-top: 3px;
}