.header-devclock-title {
  font-size: x-large;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.header-devclock-title svg {
  fill: #9aff08;
}

.header-devclock-package-info {
  text-align: right;
  color: rgba(255, 255, 255, 0.712);
}